# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python Environment
.python-version
